
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

body
  background-image: url('../images/bg.jpg') 
  background-repeat: no-repeat 
  background-position: center center
  background-size: cover

.container
  padding-top: 100px

  +media('mobile')
    padding-top: 50px

.calc.row
  display: block
  width: 350px
  margin: 0 auto
  background: #FF9933
  padding: 30px 20px
  border-radius: 5px
  box-shadow: 0px 3px 10px #111;
  border: 1px solid #333

  +media('mobile')
    width: 95%
    padding: 25px 0px


  .column
    margin: 10px 0

  .column.answer
    padding: 0
    margin: 0 4% 10px
    width: 92%

  p.answer
    white-space: nowrap
    overflow: hidden
    -o-text-overflow: ellipsis
    text-overflow:    ellipsis

  .buttons
    border: 1px solid #eee
    box-shadow: 0px 1px 2px #555;
    border-radius: 5px
    display: block
    width: 100%
    height: 100%
    text-align: center
    font-family: digital-7_monomono
    font-size: 25px
    padding: 15px 20px 10px 18px
    background: #fff

    &:active
      box-shadow: 1px 2px 0px #555;

  .buttons.control
    background-color: #ddd

  .answer 
    font-family: digital-7_monomono
    margin: 3px
    padding: 5px
    background-color: #eee
    border-radius: 4px
    color: #00CC33
    font-size: 40px


